#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans - A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

|SQL  | NoSQL |
|------|------|
| SQL databases are primarily called as Relational Databases (RDBMS)  | NoSQL database are primarily called as non-relational or distributed database. |
| SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU or SSD. | NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database. |
| Tables with fixed rows and columns | Document: JSON documents, Key-value: key-value pairs, Wide-column: tables with rows and dynamic columns, Graph: nodes and edges |
| Oracle, MySQL, Microsoft SQL Server, and PostgreSQL | Document: MongoDB and CouchDB, Key-value: Redis and DynamoDB, Wide-column: Cassandra and HBase, Graph: Neo4j and Amazon Neptune|

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

**DDL -**
DDL is Data Definition Language which is used to define data structures. For example: create table, alter table are instructions in SQL.

* ##### CREATE
This command builds a new table and has a predefined syntax. The CREATE statement syntax is:

CREATE TABLE [table name] ([column definitions]) [table parameters];

For example:

CREATE TABLE Employee (Employee Id INTEGER PRIMARY KEY, First name CHAR (50) NULL, Last name CHAR (75) NOT NULL);

* ##### DROP
A drop command is used to delete objects such as a table, index or view. A DROP statement cannot be rolled back, so once an object is destroyed, there’s no way to recover it.

Drop statement syntax is:

DROP object type object name;

For example:

DROP TABLE Employee;

* ##### ALTER
An alter command modifies an existing database table. This command can add up additional column, drop existing columns and even change the data type of columns involved in a database table.

An alter command syntax is:

ALTER object type object name parameters;

For example:

ALTER TABLE Employee ADD PRIMARY KEY (employee_pk);

* ##### TRUNCATE
Similar to DROP, the TRUNCATE statement is used to quickly remove all records from a table. However, unlike DROP that completely destroys a table, TRUNCATE preserves its full structure to be reused later.

Truncate statement syntax is:

TRUNCATE TABLE table_name;

For example:

TRUNCATE TABLE Employee;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

**DML -**
DML is Data Manipulation Language which is used to manipulate data itself. This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data.

* ##### UPDATE:
This command modifies data of one or more records. 

An update command syntax is UPDATE [table name] SET [column name = value] where [condition].

For Example:

UPDATE Student SET Phone = 9039462901 WHERE Stu_Name = ’Phoebe’;

* ##### INSERT:
This command adds one or more records to a database table. 

The insert command syntax is INSERT INTO [table name] [column(s)] VALUES [value(s)].

For Example :

INSERT INTO Student(Stu_Name, DOB, Phone, Mail)

VALUES(‘Phoebe’, ‘1998-05-26’, 7812865845, ‘user@xyz.com’);

* ##### DELETE:
This command removes one or more records from a table according to specified conditions. 

Delete command syntax is DELETE FROM [table name] where [condition].

For Example:

DELETE FROM Student WHERE Stu_Name = ’Phoebe’;

#### Q4. What is DQL? Explain SELECT with an example.

**DQL -**
DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract data from a database in order to perform actions on it.

* ##### SELECT:

SELECT expression FROM table_x WHERE code_conditions;

For Example:

SELECT Stu_Name FROM Student WHERE Phone = 9039462908;

#### Q5. Explain Primary Key and Foreign Key.

**Primary Key -**
A primary key is the column or columns that contain values that uniquely identify each row in a table.

**Foreign Key -**
A foreign key is a column or columns of data in one table that refers to the unique data values -- often the primary key data -- in another table. Foreign keys link together two or more tables in a relational database.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
#Code to conncet MySql to Pyhton - 

import sql.connctor

mydb = mysql.connector.connect (
    host = "localhost",
    user = "abc",
    password = "password"
)
print(mydb)

* **Cursor ( ) method -**
A cursor keeps track of the position in the result set, and allows you to perform multiple operations row by row against a result set, with or without returning to the original table.

* **Execute ( ) Method -**
The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text. The results are stored in a new Recordset object if it is a row-returning query.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
SELECT Customers.customer_id, Customers.first_name, Orders.amount, Orders.order_id
FROM Customers
JOIN Orders
ON Customers.customer_id = Orders.customer_id
WHERE Orders.order_id <=4
ORDER BY Orders.order_id ASC
LIMIT 2