#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Ans - MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently.
* Non-relational databases (often called NoSQL databases) are different from traditional relational databases in that they store their data in a non-tabular form.
*  MongoDB is faster and more scalable. While the SQL server supports JOIN and Global transactions, MongoDB does not. The MS SQL server does not accommodate large amounts of data, however MongoDB does.

#### Q2. State and Explain the features of MongoDB.

Ans - These are some important features of MongoDB:

**1. Support ad hoc queries**

In MongoDB, you can search by field, range query and it also supports regular expression searches.

**2. Indexing**

You can index any field in a document.

**3. Replication**

MongoDB supports Master Slave replication.

A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

**4. Duplication of data**

MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

**5. Load balancing**

It has an automatic load balancing configuration because of data placed in shards.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [4]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://datascience:Datascience@cluster0.cgpnl42.mongodb.net/?retryWrites=true&w=majority")
db = client.test

# creating database - 
db = client['pwskills']

#creating collection - 
coll_pwskills = db['my records']

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
data = {"name" : "yash", 
        "class" : "data science masters",
        "place" : "xyz",
        "time" : "flexi"}

# inserting one record: 
coll_pwskills.insert_one(data)

In [19]:
# inserting many records :

data2 = [{"name" : "Pranav", "addr" : "Earth"},
         {"name" : "Yash" , "addr" : "Earth"},
         {"name" : "Ankit", "addr" : "Mars"},
         {"name" : "Vishal", "addr" : "Jupiter"},
         {"name" : "Vivek", "addr" : "Saturn"}
        ]

coll_pwskills.insert_many(data2)

In [14]:
# find_one() method

coll_pwskills.find_one()

{'_id': ObjectId('63f837da3739559ca624ae42'),
 'name': 'yash',
 'class': 'data science masters',
 'place': 'xyz',
 'time': 'flexi'}

In [20]:
# find() method

for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('63f837da3739559ca624ae42'), 'name': 'yash', 'class': 'data science masters', 'place': 'xyz', 'time': 'flexi'}
{'_id': ObjectId('63f838ec3739559ca624ae43'), 'name': 'Pranav', 'addr': 'Earth'}
{'_id': ObjectId('63f838ec3739559ca624ae44'), 'name': 'Ankit', 'addr': 'Mars'}
{'_id': ObjectId('63f838ec3739559ca624ae45'), 'name': 'Vishal', 'addr': 'Jupiter'}
{'_id': ObjectId('63f838ec3739559ca624ae46'), 'name': 'Vivek', 'addr': 'Saturn'}
{'_id': ObjectId('63f83a8a3739559ca624ae49'), 'name': 'Ankit', 'addr': 'Mars'}
{'_id': ObjectId('63f83b163739559ca624ae4c'), 'name': 'Pranav', 'addr': 'Earth'}
{'_id': ObjectId('63f83b163739559ca624ae4d'), 'name': 'Yash', 'addr': 'Earth'}
{'_id': ObjectId('63f83b163739559ca624ae4e'), 'name': 'Ankit', 'addr': 'Mars'}
{'_id': ObjectId('63f83b163739559ca624ae4f'), 'name': 'Vishal', 'addr': 'Jupiter'}
{'_id': ObjectId('63f83b163739559ca624ae50'), 'name': 'Vivek', 'addr': 'Saturn'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [21]:
# Finding name of people on Earth - 

for i in coll_pwskills.find({'addr' : 'Earth'}):
    print (i)

{'_id': ObjectId('63f838ec3739559ca624ae43'), 'name': 'Pranav', 'addr': 'Earth'}
{'_id': ObjectId('63f83b163739559ca624ae4c'), 'name': 'Pranav', 'addr': 'Earth'}
{'_id': ObjectId('63f83b163739559ca624ae4d'), 'name': 'Yash', 'addr': 'Earth'}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [34]:
# The sort() method specifies the order in which the query returns the matching documents from the given collection. 

for i in coll_pwskills.find().sort("name", 1) :
    print(i)

{'_id': ObjectId('63f838ec3739559ca624ae44'), 'name': 'Ankit', 'addr': 'Mars'}
{'_id': ObjectId('63f83a8a3739559ca624ae49'), 'name': 'Ankit', 'addr': 'Mars'}
{'_id': ObjectId('63f83b163739559ca624ae4e'), 'name': 'Ankit', 'addr': 'Mars'}
{'_id': ObjectId('63f838ec3739559ca624ae43'), 'name': 'Pranav', 'addr': 'Earth'}
{'_id': ObjectId('63f83b163739559ca624ae4c'), 'name': 'Pranav', 'addr': 'Earth'}
{'_id': ObjectId('63f838ec3739559ca624ae45'), 'name': 'Vishal', 'addr': 'Jupiter'}
{'_id': ObjectId('63f83b163739559ca624ae4f'), 'name': 'Vishal', 'addr': 'Jupiter'}
{'_id': ObjectId('63f838ec3739559ca624ae46'), 'name': 'Vivek', 'addr': 'Saturn'}
{'_id': ObjectId('63f83b163739559ca624ae50'), 'name': 'Vivek', 'addr': 'Saturn'}
{'_id': ObjectId('63f83b163739559ca624ae4d'), 'name': 'Yash', 'addr': 'Earth'}
{'_id': ObjectId('63f837da3739559ca624ae42'), 'name': 'yash', 'class': 'data science masters', 'place': 'xyz', 'time': 'flexi'}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans
* delete_many() : This method is used to delete multiple documents.
* delete_one() : This method is used to delete one document.
* drop() : This method is used to drop a collection from the database.