### Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some algorithms that are not affected by missing values.

Data can go missing due to incomplete data entry, equipment malfunctions, lost files, and many other reasons. In any dataset, there are usually some missing data.

It is important to handle the missing values appropriately. Many machine learning algorithms fail if the dataset contains missing values. However, algorithms like K-nearest and Naive Bayes support data with missing values.

### Q2: List down techniques used to handle missing data. Give an example of each with python code.

**1. Mean value Imputation -** This works well when your data is normally distributed.

**2. Median Value Imputation -** If we have outliers in our dataset than we use this technique.

**3. Mode Value Imputation -** Used when we have categorical values.

In [1]:
import seaborn as sns
df = sns.load_dataset('titanic')

In [2]:
df.age.isnull().sum()

177

#### 1. Mean Value Imputaion

In [4]:
df['Age_mean'] = df['age'].fillna(df['age'].mean())

In [5]:
df[['Age_mean','age']]

      Age_mean   age
0    22.000000  22.0
1    38.000000  38.0
2    26.000000  26.0
3    35.000000  35.0
4    35.000000  35.0
..         ...   ...
886  27.000000  27.0
887  19.000000  19.0
888  29.699118   NaN
889  26.000000  26.0
890  32.000000  32.0

[891 rows x 2 columns]

#### 2. Median Value Imputation

In [7]:
df['Age_median'] = df['age'].fillna(df['age'].median())

In [8]:
df[['Age_median', 'Age_mean', 'age']]

     Age_median   Age_mean   age
0          22.0  22.000000  22.0
1          38.0  38.000000  38.0
2          26.0  26.000000  26.0
3          35.0  35.000000  35.0
4          35.0  35.000000  35.0
..          ...        ...   ...
886        27.0  27.000000  27.0
887        19.0  19.000000  19.0
888        28.0  29.699118   NaN
889        26.0  26.000000  26.0
890        32.0  32.000000  32.0

[891 rows x 3 columns]

#### 3. Mode Value Imputaion

In [11]:
df[df['embarked'].isnull()]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Age_mean,Age_median
61,1,1,female,38.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True,38.0,38.0
829,1,1,female,62.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True,62.0,62.0

In [12]:
df['embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [13]:
mode = df[df['age'].notna()]['embarked'].mode()[0]

In [14]:
df['embarked_mode'] = df['embarked'].fillna(mode)

In [15]:
df[['embarked_mode', 'embarked']]

    embarked_mode embarked
0               S        S
1               C        C
2               S        S
3               S        S
4               S        S
..            ...      ...
886             S        S
887             S        S
888             S        S
889             C        C
890             Q        Q

[891 rows x 2 columns]

### Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?

A classification data set with skewed class proportions is called imbalanced. Classes that make up a large proportion of the data set are called majority classes. Those that make up a smaller proportion are minority classes.

Imbalanced data is a common problem in machine learning, which brings challenges to feature correlation, class separation and evaluation, and results in poor model performance.

### Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down- sampling are required.

**Up-Sampling -** Upsampling is a procedure where synthetically generated data points (corresponding to minority class) are injected into the dataset. After this process, the counts of both labels are almost the same. This equalization procedure prevents the model from inclining towards the majority class.

**Down-Sampling -** - Downsampling is a mechanism that reduces the count of training samples falling under the majority class. As it helps to even up the counts of target categories. By removing the collected data, we tend to lose so much valuable information.

### Q5: What is data Augmentation? Explain SMOTE.

Data augmentation is a technique of artificially increasing the training set by creating modified copies of a dataset using existing data. It includes making minor changes to the dataset or using deep learning to generate new data points.

**SMOTE -** Synthetic Minority Oversampling Technique (SMOTE) is a statistical technique for increasing the number of cases in your dataset in a balanced way. The component works by generating new instances from existing minority cases that you supply as input.

### Q6: What are outliers in a dataset? Why is it essential to handle outliers?

An outlier is an extremely high or extremely low data point relative to the nearest data point and the rest of the neighboring co-existing values in a data graph or dataset you're working with. 

Outliers are problematic and should be removed because they represent measurement errors, data entry or processing errors, or poor sampling.

### Q7: You are working on a project that requires analyzing customer data. However, you notice that some of the data is missing. What are some techniques you can use to handle the missing data in your analysis?

It depends on the type of data that is missing. If the missing data type is numerical than we will median imputation and if the missing data type is categorical than we will use Mode imputation technique.

### Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are some strategies you can use to determine if the missing data is missing at random or if there is a pattern to the missing data?

We will first see that does it contains any gender or anything that people not prefer to answer. Like most males don't tell their salary and female don't tell their age. After that if the missing data is too small than we can delete it, otherwise we can apply Mode Imputation technique.

### Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the dataset do not have the condition of interest, while a small percentage do. What are some strategies you can use to evaluate the performance of your machine learning model on this imbalanced dataset?

We will first count the values of minority and majority class. After that we will apply Upsampling technique so that we can create more data points in our minority class.

### Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to balance the dataset and down-sample the majority class?

We will downsample the data.

### Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a project that requires you to estimate the occurrence of a rare event. What methods can you employ to balance the dataset and up-sample the minority class?

We will apply SMOTE to  balance the dataset for upsampling.